<h3 class="lead">Cómo usar nuestro sistema en simples pasos:</h3>

<h4 class="lead">
	<ul>
		<li>Comprueba que nuestro servidor está online</li>
		<li>Envía tus datos personales a nuestro servidor</li>
		<li>Configura tus módulos</li>
		<li>Empieza a disfrutar!!!</li>
	</ul>
</h4>