<h3 class="lead">Cómo usar nuestro sistema en simples pasos:</h3>

<h4 class="lead">
	<ul>
	  <li>Comprueba que nuestro servidor está online</li>
		<ul>
			<li>Banner que aparece más arriba</li>
			<li>Refresca la página si es necesario</li>
		</ul>
		<li>Envía tus datos personales a nuestro servidor si no son correctos</li>
		<ul>
			<li>Accede a tus datos</li>
		</ul>
		<li>Configura tus módulos (Tu sistema)</li>
		<li>Empieza a disfrutar!!!</li>
	</ul>
</h4>