<h2 class="lead">Entrar como usuario registrado</h2>
<form method="post" action="/users/login">
	<div class="form-group">
		<label>Nombre de usuario</label>
		<input type="text" class="form-control" name="username" placeholder="Dinos tu nombre de usuario">
	</div>
	<div class="form-group">
		<label>Contraseña</label>
		<input type="password" class="form-control" name="password" placeholder="Contraseña">
	</div>
	<button type="submit" class="btn btn-default">Entrar en el sistema</button>
</form>
