<h3 class="lead">Estado actual de tu sistema y conexiones actuales</h3>

<h4 class="lead">
	<div class="alert alert-success">Sistema funcionando correctamente </div>
	<h4>Conexionado:</h4>
	<ul>
		<li>...</li>
		<li>...</li>
		<li>...</li>
		<li>...</li>
	</ul>
</h4>